@page "/"

@inject DynamicJsRuntime JsRuntime

<button style="width: 100%; height: 100%" @onclick="ShowDialog">Show Dialog</button>

@code {
    private async Task ShowDialog()
    {
        var reference = await JsRuntime.InvokeAsync("createTestObject", "example string  1");
        var callbackAction = () => Console.WriteLine("callback action called");
        var callbackFunc = (string x) => Console.WriteLine("callback func called with argument: " + x);

        reference.actionTest("example string 2", callbackAction);
        reference.funcTest("example string 2", callbackFunc);
    }
}