@page "/"

@inject DynamicJsRuntime JsRuntime

<button style="width: 100%; height: 100%" @onclick="ShowDialog">Show Dialog</button>

@code {
    private async Task ShowDialog()
    {
        var reference = await JsRuntime.InvokeAsync("createTestObject", "example string  1");
        var callbackAction = () => Console.WriteLine("callback action called");
        var callbackFunc = (string x) => Console.WriteLine("callback func called with argument: " + x);

        await reference.actionTest("example string 2", callbackAction);
        await reference.funcTest("example string 3", callbackFunc);

        var otherReference = await reference.returnObjectTest("example string 4");
        await otherReference.actionTest("example string 5", callbackAction);
        var someValue = otherReference.someValue;
        Console.WriteLine("property on returned object: " + someValue);

    }
}